In [6]:
my_age = 29
first_name = "John"
last_name = "Doe"

print("Hi, my name is " + first_name + " " + last_name + " " + str(my_age)+ "\n")
print("hello")

Hi, my name is John Doe 29

hello

In [15]:
print("Hi, my name is %s %s %s \n" % (first_name, last_name, my_age))

Hi, my name is John Doe 29

In [18]:
print("Hi, my name is " + " ".join([first_name, last_name, str(my_age)]) +"\n")

Hi, my name is John Doe 29

In [20]:
print("Hi, my name is {} {} {}\n".format(first_name, last_name, str(my_age)))

Hi, my name is John Doe 29

In [21]:
print("Hi, my name is " + first_name + " " + last_name + " " + str(my_age)+ "\n")

print("Hi, my name is %s %s %s \n" % (first_name, last_name, my_age))

print("Hi, my name is " + " ".join([first_name, last_name, str(my_age)]) +"\n")

print("Hi, my name is {} {} {}\n".format(first_name, last_name, str(my_age)))

Hi, my name is John Doe 29

Hi, my name is John Doe 29

Hi, my name is John Doe 29

Hi, my name is John Doe 29

In [22]:
print(range(10))

range(0, 10)

In [23]:
print(range(1-10))

range(0, -9)

In [26]:
for i in range(2,21,2):
    print (i)

2
4
6
8
10
12
14
16
18
20

In [31]:
mixed=["dog", "cat", 4, 7, "nineteen", True, False, [1,2,3], {1:"one",2:"two"}]
for i in mixed:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'dict'>

In [35]:
txt = "hello"[::-1]
print(txt)

olleh

In [38]:
print("hello"[::-1])

olleh

In [44]:
x=1234
w=x[0]

TypeError: 'int' object is not subscriptable

In [48]:
num=1234
x = str(num)[::-1]
print(x)
# y = x[::-1]
# print (int(x))

4321

In [50]:
num=1234
print(str(num)[::-1])

4321

In [53]:
num=1234
z = print(int(str(num)[::-1]))

4321

In [54]:
num=1234
z = print(int(str(num)[::-1]))

4321

In [59]:
num=6789
z=(str(num)[::-1])
(int(z))

<class 'int'>

In [64]:
num=1234
z=(str(num)[::-1])
print(int(z))

4321

In [84]:
my_list = ["apple", "banana", "cherry", "mango", "pineapple", "watermelon"]
dessert = ["apple cake", "banana cake", "donut", "fudge", "ice cream", "jilapi"]
x=0
for i in my_list:
    dessert[x]=i
    x+=1
    
print(dessert)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'watermelon']

In [94]:
hobbies = ["reading", "hiking", "gaming", "walking", "watching tv"]
books = ['history','biographies','autobiographies','textbooks','romances']
average_weight_in_lbs = [280,275,269,265,279]
pets = ['Lewis','Clark','Gypsy']
temp_past_wk_in_F = [45,32,29.5,26,33]

bills = {'phone':100,'rent':500,'water':125,'phone':1000}
food_status = {'milk':'fresh','veggies':'almost gone', 'eggs':7, 'bread':'stale'}
contact_info = {'mom':'336-555-5555','dad':'485-555-5555','sister':'366-555-5555','wife':'317-555-5555','ER':'911'}
room_colors = {'kitchen':'gray','library':'red','back_room':'bright_green','upstairs_bedroom':'pale_blue'}
weather_this_week = {'Monday':'rainy','Tuesday':'rainy','Wednesday':'still_raining','Thursday':'Freezing_rain','Friday':'Just_plain_cold'}




print(weather_this_week)

{'Monday': 'rainy', 'Tuesday': 'rainy', 'Wednesday': 'still_raining', 'Thursday': 'Freezing_rain', 'Friday': 'Just_plain_cold'}